In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset = pd.read_excel('melb_data.xlsx')

In [5]:
dataset.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan          4019
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan          4019
2  Abbotsford      5 Charles St  ...  Northern Metropolitan          4019
3  Abbotsford  40 Federation La  ...  Northern Metropolitan          4019
4  Abbotsford       55a Park St  ...  Northern Metropolitan          4019

[5 rows x 21 columns]

In [6]:
dataset.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [7]:
dataset.shape

(13580, 21)

In [8]:
cols_to_use = ['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2',
               'Bathroom','Car','Landsize','BuildingArea','Price']
dataset=dataset[cols_to_use]

In [10]:
dataset.shape

(13580, 15)

In [11]:
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [12]:
dataset['Car']= dataset['Car'].fillna(0)

In [13]:
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [14]:
dataset['BuildingArea']= dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [18]:
dataset['BuildingArea'].isnull().sum()

0

In [19]:
dataset.dropna(inplace=True)

In [20]:
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [22]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset.head()

   Rooms  Propertycount  ...  CouncilArea_Yarra  CouncilArea_Yarra Ranges
0      2           4019  ...                  1                         0
1      2           4019  ...                  1                         0
2      3           4019  ...                  1                         0
3      3           4019  ...                  1                         0
4      4           4019  ...                  1                         0

[5 rows x 613 columns]

In [24]:
x=dataset.drop('Price',axis=1)
y = dataset['Price']

In [27]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.3,random_state=2)

In [28]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_x,train_y)

In [30]:
reg.score(test_x,test_y)

-130754040.80091551

In [31]:
reg.score(train_x,train_y)

0.7120927411080014

In [32]:
from sklearn import linear_model

In [34]:
lasso_reg = linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(train_x,train_y)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [36]:
lasso_reg.score(test_x,test_y)

0.6635378645906432

In [37]:
lasso_reg.score(train_x,train_y)

0.7075207760040604

In [38]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(train_x,train_y)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [39]:
ridge_reg.score(test_x,test_y)

0.6644073200007319

In [40]:
ridge_reg.score(train_x,train_y)

0.6767108241854773